<a href="https://colab.research.google.com/github/brijeshrn/AI/blob/main/Text2SQLGraph_v1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

97% with table_schema1 file

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving table_schema1.yaml to table_schema1 (2).yaml

In [ ]:
import yaml

# Use the actual filename you uploaded (typically same as the original)
with open("table_schema1 (2).yaml", "r", encoding="utf-8") as f:
    meta_dict = yaml.safe_load(f)

In [ ]:
import yaml
from pprint import pprint  # For nice nested structure

# Print structure
pprint(meta_dict)

{'tables': {'all_star': {'aliases': ['asg',
                                     'allstar',
                                     'all_star_game',
                                     'allstars'],
                         'columns': ['player_id',
                                     'year',
                                     'game_num',
                                     'team_id',
                                     'league_id',
                                     'starting_pos'],
                         'description': 'Details the records of baseball '
                                        'players selected as All-Stars in '
                                        'various years and their participation '
                                        'in All-Star games.',
                         'example_row': {'game_num': 1,
                                         'league_id': 'AL',
                                         'player_id': 'baberu01',
                                         'starting_pos': 3,
                                         'team_id': 'NYA',
                                         'year': 1933},
                         'few_shot_examples': [{'nlq': 'Which players were '
                                                       'selected as All-Stars '
                                                       'in 1998?',
                                                'tables': ['all_star',
                                                           'player']},
                                               {'nlq': 'List teams with the '
                                                       'most All-Star players '
                                                       'in 2005.',
                                                'tables': ['all_star',
                                                           'team']}],
                         'foreign_keys': [{'column': 'player_id',
                                           'ref_column': 'player_id',
                                           'ref_table': 'player'},
                                          {'column': 'team_id',
                                           'ref_column': 'team_id',
                                           'ref_table': 'team'},
                                          {'column': 'league_id',
                                           'ref_column': 'league_id',
                                           'ref_table': 'team'}],
                         'instructions': 'Use this table to retrieve '
                                         'information about players who were '
                                         'selected as All-Stars.\n'
                                         'Combine with the player table if you '
                                         'need personal information.\n'
                                         'Avoid using this table for general '
                                         "team stats — use 'team' instead.\n",
                         'primary_keys': ['player_id', 'year', 'game_num'],
                         'synonyms': ['All-Star records',
                                      'All-Star appearances',
                                      'All-Star game participants'],
                         'tags': ['baseball',
                                  'All-Star game',
                                  'sports',
                                  'player participation'],
                         'type': 'fact'},
            'appearances': {'aliases': ['apps', 'games_played', 'appear'],
                            'columns': ['player_id',
                                        'year',
                                        'team_id',
                                        'league_id',
                                        'g_all',
                                        'gs',
                                        'g_p',
                                        'g_c',
                                        'g_1b',
                                        'g_2b',
                                        'g_3b',
                                        'g_ss',
                                        'g_lf',
                                        'g_cf',
                                        'g_rf'],
                            'description': 'Player participation in various '
                                           'positions for each game and '
                                           'season. Contains stats like games '
                                           'played in each fielding position, '
                                           'for every player-year-team.',
                            'example_row': {'g_1b': 0,
                                            'g_2b': 0,
                                            'g_3b': 0,
                                            'g_all': 151,
                                            'g_c': 0,
                                            'g_cf': 0,
                                            'g_lf': 0,
                                            'g_p': 0,
                                            'g_rf': 151,
                                            'g_ss': 0,
                                            'gs': 151,
                                            'league_id': 'AL',
                                            'player_id': 'baberu01',
                                            'team_id': 'NYA',
                                            'year': 1927},
                            'few_shot_examples': [{'nlq': 'What positions did '
                                                          'Babe Ruth play in '
                                                          '1927?',
                                                   'tables': ['appearances',
                                                              'player']},
                                                  {'nlq': 'How many games did '
                                                          'each team play '
                                                          'their right '
                                                          'fielders in 1930?',
                                                   'tables': ['appearances',
                                                              'team']}],
                            'foreign_keys': [{'column': 'player_id',
                                              'ref_column': 'player_id',
                                              'ref_table': 'player'},
                                             {'column': 'team_id',
                                              'ref_column': 'team_id',
                                              'ref_table': 'team'},
                                             {'column': 'league_id',
                                              'ref_column': 'league_id',
                                              'ref_table': 'team'}],
                            'instructions': 'Use this table to determine in '
                                            'which fielding positions players '
                                            'appeared.\n'
                                            'Join with player and team if '
                                            'needed for player identity or '
                                            'team context.\n'
                                            'Avoid using this for performance '
                                            'stats like batting or pitching — '
                                            "use 'batting' or 'pitching' "
                                            'instead.\n',
                            'primary_keys': ['player_id', 'year', 'team_id'],
                            'synonyms': ['player appearances',
                                         'fielding appearances',
                                         'games played'],
                            'tags': ['baseball',
                                     'fielding',
                                     'player participation'],
                            'type': 'fact'},
            'batting': {'aliases': ['bat', 'batstats', 'batting_stats'],
                        'columns': ['player_id',
                                    'year',
                                    'team_id',
                                    'league_id',
                                    'g',
                                    'ab',
                                    'r',
                                    'h',
                                    'hr',
                                    'rbi',
                                    'sb'],
                        'description': 'Historical batting statistics for '
                                       'baseball players, recording their '
                                       'performance in various seasons.',
                        'example_row': {'ab': 540,
                                        'g': 151,
                                        'h': 192,
                                        'hr': 60,
                                        'league_id': 'AL',
                                        'player_id': 'baberu01',
                                        'r': 158,
                                        'rbi': 164,
                                        'sb': 7,
                                        'team_id': 'NYA',
                                        'year': 1927},
                        'few_shot_examples': [{'nlq': "What was Babe Ruth's "
                                                      'home run count in 1927?',
                                               'tables': ['batting', 'player']},
                                              {'nlq': 'Which players had the '
                                                      'highest RBI in 1930?',
                                               'tables': ['batting',
                                                          'player']}],
                        'foreign_keys': [{'column': 'player_id',
                                          'ref_column': 'player_id',
                                          'ref_table': 'player'},
                                         {'column': 'team_id',
                                          'ref_column': 'team_id',
                                          'ref_table': 'team'},
                                         {'column': 'league_id',
                                          'ref_column': 'league_id',
                                          'ref_table': 'team'}],
                        'instructions': 'Use for regular season batting '
                                        'statistics for each player and '
                                        'season.\n'
                                        'Join with player/team for identity '
                                        'and context. Avoid using this for '
                                        'postseason queries.\n',
                        'primary_keys': ['player_id', 'year', 'team_id'],
                        'synonyms': ['hitting statistics', 'batting records'],
                        'tags': ['baseball', 'sports', 'statistics'],
                        'type': 'fact'},
            'batting_postseason': {'aliases': ['bat_post',
                                               'post_batting',
                                               'playoff_batting'],
                                   'columns': ['player_id',
                                               'year',
                                               'team_id',
                                               'g',
                                               'ab',
                                               'h',
                                               'hr',
                                               'rbi'],
                                   'description': 'Postseason batting '
                                                  'statistics for baseball '
                                                  'players.',
                                   'example_row': {'ab': 27,
                                                   'g': 7,
                                                   'h': 7,
                                                   'hr': 3,
                                                   'player_id': 'baberu01',
                                                   'rbi': 6,
                                                   'team_id': 'NYA',
                                                   'year': 1926},
                                   'few_shot_examples': [{'nlq': 'How many '
                                                                 'home runs '
                                                                 'did Babe '
                                                                 'Ruth hit in '
                                                                 'the 1926 '
                                                                 'postseason?',
                                                          'tables': ['batting_postseason',
                                                                     'player']},
                                                         {'nlq': 'Which '
                                                                 'players had '
                                                                 'the most '
                                                                 'RBIs in the '
                                                                 '2004 '
                                                                 'postseason?',
                                                          'tables': ['batting_postseason',
                                                                     'player']}],
                                   'foreign_keys': [{'column': 'player_id',
                                                     'ref_column': 'player_id',
                                                     'ref_table': 'player'},
                                                    {'column': 'team_id',
                                                     'ref_column': 'team_id',
                                                     'ref_table': 'team'}],
                                   'instructions': 'Use only for playoff '
                                                   'performance stats.\n'
                                                   'Avoid using for regular '
                                                   'season queries. Join with '
                                                   'player/team to identify '
                                                   'context.\n',
                                   'primary_keys': ['player_id',
                                                    'year',
                                                    'team_id'],
                                   'synonyms': ['playoff batting stats',
                                                'postseason hitting stats'],
                                   'tags': ['baseball',
                                            'postseason',
                                            'batting'],
                                   'type': 'fact'},
            'college': {'aliases': ['school', 'univ'],
                        'columns': ['college_id', 'name', 'city', 'state'],
                        'description': 'Identifies colleges and links to '
                                       'players via player_college.',
                        'example_row': {'city': 'Stanford',
                                        'college_id': 'STAN',
                                        'name': 'Stanford University',
                                        'state': 'CA'},
                        'few_shot_examples': [{'nlq': 'Which players attended '
                                                      'Stanford?',
                                               'tables': ['college',
                                                          'player_college',
                                                          'player']},
                                              {'nlq': 'List colleges that had '
                                                      'MLB players in 1990.',
                                               'tables': ['college',
                                                          'player_college']}],
                        'instructions': 'Use when educational background is '
                                        'part of the query. Often paired with '
                                        'player_college and player.\n',
                        'primary_keys': ['college_id'],
                        'synonyms': ['university', 'alma mater'],
                        'tags': ['education', 'player background'],
                        'type': 'dimension'},
            'fielding': {'aliases': ['fld', 'fielding_stats'],
                         'columns': ['player_id',
                                     'year',
                                     'team_id',
                                     'g',
                                     'po',
                                     'a',
                                     'e',
                                     'dp',
                                     'pb'],
                         'description': 'Fielding statistics for baseball '
                                        'players, covering defensive '
                                        'performance across all positions and '
                                        'seasons.',
                         'example_row': {'a': 14,
                                         'dp': 35,
                                         'e': 3,
                                         'g': 151,
                                         'pb': 0,
                                         'player_id': 'baberu01',
                                         'po': 312,
                                         'team_id': 'NYA',
                                         'year': 1927},
                         'few_shot_examples': [{'nlq': 'How many errors did '
                                                       'Babe Ruth make in '
                                                       '1927?',
                                                'tables': ['fielding',
                                                           'player']},
                                               {'nlq': 'Which players had the '
                                                       'most double plays in '
                                                       '1935?',
                                                'tables': ['fielding',
                                                           'player']}],
                         'foreign_keys': [{'column': 'player_id',
                                           'ref_column': 'player_id',
                                           'ref_table': 'player'},
                                          {'column': 'team_id',
                                           'ref_column': 'team_id',
                                           'ref_table': 'team'}],
                         'instructions': 'Use this table for defensive '
                                         'statistics like putouts, assists, '
                                         'and errors.\n'
                                         'Avoid using it for batting or '
                                         'pitching performance. Join with '
                                         'player/team if needed.\n',

In [ ]:
def extract_table_embedding_info(meta_dict):
    """
    Given a schema metadata dictionary with a 'tables' key,
    extract info for table-level embeddings.
    Returns a list of dicts (one per table) with canonical name, description,
    synonyms, aliases, and tags as a joined embedding text.
    """
    table_embedding_items = []
    for table, meta in meta_dict['tables'].items():  # <-- Fix is here!
        desc = meta.get('description', '')
        synonyms = meta.get('synonyms', [])
        aliases = meta.get('aliases', [])
        tags = meta.get('tags', [])
        # Create a single string for embedding
        embedding_text = (
            f"Table: {table}. "
            f"Description: {desc}. "
            f"Synonyms: {', '.join(synonyms)}. "
            f"Aliases: {', '.join(aliases)}. "
            f"Tags: {', '.join(tags)}."
        )
        table_embedding_items.append({
            'table': table,
            'description': desc,
            'synonyms': synonyms,
            'aliases': aliases,
            'tags': tags,
            'embedding_text': embedding_text
        })
    return table_embedding_items

# Example usage:
table_info_list = extract_table_embedding_info(meta_dict)
for t in table_info_list:
    print(t['embedding_text'])
print("Number of tables:", len(table_info_list))  # This will print the table count

Table: all_star. Description: Details the records of baseball players selected as All-Stars in various years and their participation in All-Star games.. Synonyms: All-Star records, All-Star appearances, All-Star game participants. Aliases: asg, allstar, all_star_game, allstars. Tags: baseball, All-Star game, sports, player participation.
Table: appearances. Description: Player participation in various positions for each game and season. Contains stats like games played in each fielding position, for every player-year-team.. Synonyms: player appearances, fielding appearances, games played. Aliases: apps, games_played, appear. Tags: baseball, fielding, player participation.
Table: batting. Description: Historical batting statistics for baseball players, recording their performance in various seasons.. Synonyms: hitting statistics, batting records. Aliases: bat, batstats, batting_stats. Tags: baseball, sports, statistics.
Table: batting_postseason. Description: Postseason batting statistics for baseball players.. Synonyms: playoff batting stats, postseason hitting stats. Aliases: bat_post, post_batting, playoff_batting. Tags: baseball, postseason, batting.
Table: college. Description: Identifies colleges and links to players via player_college.. Synonyms: university, alma mater. Aliases: school, univ. Tags: education, player background.
Table: fielding. Description: Fielding statistics for baseball players, covering defensive performance across all positions and seasons.. Synonyms: defensive stats, fielding records. Aliases: fld, fielding_stats. Tags: baseball, fielding, defense.
Table: fielding_outfield. Description: Fielding appearances of outfield players, categorized by left, center, and right field.. Synonyms: outfield defense records, outfield appearances. Aliases: fld_of, outfielding, outfield_stats. Tags: baseball, sports, fielding, outfield.
Table: fielding_postseason. Description: Postseason fielding statistics for baseball players.. Synonyms: playoff fielding stats, postseason defense data. Aliases: fld_post, post_fielding, playoff_fielding. Tags: baseball, fielding, postseason.
Table: hall_of_fame. Description: Records entries related to baseball players' nominations and inductions into the Hall of Fame.. Synonyms: hof_table, hall_of_fame_records. Aliases: hof, halloffame, baseball_hof. Tags: baseball, hall_of_fame, sports_analytics.
Table: home_game. Description: Information about home games played by baseball teams during different years.. Synonyms: home game data, baseball home games, home match records. Aliases: homegames, home_gm. Tags: sports, baseball, games, attendance.
Table: league. Description: Describes the professional baseball leagues, such as the American League and National League.. Synonyms: baseball leagues, MLB divisions. Aliases: mlb_league, leagues. Tags: organization, baseball.
Table: manager. Description: Details about team managers including ID and name.. Synonyms: coaches, team managers. Aliases: mgr, coach. Tags: personnel, baseball.
Table: manager_award. Description: Records the various awards given to baseball managers for different leagues and years.. Synonyms: manager honors, coaching awards, managerial accolades. Aliases: mgr_award, coach_award. Tags: baseball, awards, managers.
Table: manager_award_vote. Description: Voting results for baseball managerial awards over various years.. Synonyms: managerial awards voting, baseball manager awards, award votes. Aliases: mgr_award_vote, coach_award_vote. Tags: baseball, awards, managers, voting.
Table: manager_half. Description: Historical data on baseball managers' performance within specific halves of seasons.. Synonyms: manager performance, baseball manager stats. Aliases: mgr_half, coach_half. Tags: sports, baseball, historical.
Table: park. Description: Baseball parks where games were hosted. Includes details such as park name and location.. Synonyms: stadiums, ballparks. Aliases: stadium, ball_park. Tags: venue, baseball.
Table: pitching. Description: Pitching statistics for baseball players, including all performance measures for each player, season, and team.. Synonyms: pitcher stats, pitching records. Aliases: pitch, pitchstats, pitching_stats. Tags: baseball, pitching, statistics.
Table: pitching_postseason. Description: Postseason pitching stats for baseball players.. Synonyms: playoff pitching, postseason pitching. Aliases: pitch_post, post_pitching, playoff_pitching. Tags: baseball, pitching, postseason.
Table: player. Description: Core player table with identifiers, names, birth details. Central to all player-related queries.. Synonyms: baseball players, athletes. Aliases: pl, mlb_player. Tags: people, players, core.
Table: player_award. Description: Information about awards received by baseball players, including details about the player, the award, and the year in which it was awarded.. Synonyms: player honors, baseball awards, achievement records. Aliases: pl_award, player_awards. Tags: baseball, awards, player records.
Table: player_award_vote. Description: Records the voting results for baseball awards given to players.. Synonyms: award voting results, player awards. Aliases: pl_award_vote, player_awards_vote. Tags: baseball, awards, voting, analytics.
Table: player_college. Description: Correlates baseball players with the colleges they attended during a specific year.. Synonyms: college player affiliations, player college history. Aliases: pl_college, college_player. Tags: players, colleges, affiliations.
Table: postseason. Description: Details about MLB postseason rounds, years, and participating teams.. Synonyms: playoffs, postseason rounds. Aliases: mlb_postseason, ps_games. Tags: tournament, baseball, teams.
Table: salary. Description: Annual salary data for players by team and year.. Synonyms: compensation, player earnings. Aliases: pay, wages. Tags: finance, players, baseball.
Table: team. Description: Represents professional baseball teams including identity and seasonal stats.. Synonyms: franchises, clubs. Aliases: mlb_team, teams. Tags: organization, sports, season.
Table: team_franchise. Description: Describes franchise lineage and active status.. Synonyms: franchise info, club history. Aliases: franchise, team_lineage. Tags: history, organization.
Table: team_half. Description: Tracks team standings by half of the season (first/second half).. Synonyms: season half ranks, partial season standings. Aliases: team_half_stats, midseason_rank. Tags: season, standings, analytics.
Number of tables: 27

In [ ]:
import networkx as nx

def build_schema_graph(meta_dict):
    G = nx.DiGraph()
    for table, meta in meta_dict['tables'].items():
        G.add_node(table)
        for fk in meta.get('foreign_keys', []):
            ref_table = fk['ref_table']
            # Add edge FROM this table TO the referenced table
            G.add_edge(table, ref_table, column=fk['column'], ref_column=fk['ref_column'])
    return G

# Usage
G = build_schema_graph(meta_dict)
print("Tables in graph:", G.nodes)
print("Edges (FKs):", G.edges(data=True))
print("Number of tables (nodes):", G.number_of_nodes())
print("Number of foreign key edges:", G.number_of_edges())
print("List of tables (nodes):", list(G.nodes))
print("List of foreign key edges:", list(G.edges(data=True)))

Tables in graph: ['all_star', 'player', 'team', 'appearances', 'batting', 'batting_postseason', 'college', 'fielding', 'fielding_outfield', 'fielding_postseason', 'hall_of_fame', 'home_game', 'park', 'league', 'manager', 'manager_award', 'manager_award_vote', 'manager_half', 'pitching', 'pitching_postseason', 'player_award', 'player_award_vote', 'player_college', 'postseason', 'salary', 'team_franchise', 'team_half']
Edges (FKs): [('all_star', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('all_star', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('team', 'league', {'column': 'league_id', 'ref_column': 'league_id'}), ('appearances', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('appearances', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('batting', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('batting', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('batting_postseason', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('batting_postseason', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('fielding', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('fielding', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('fielding_outfield', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('fielding_postseason', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('fielding_postseason', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('hall_of_fame', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('home_game', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('home_game', 'park', {'column': 'park_id', 'ref_column': 'park_id'}), ('manager_award', 'manager', {'column': 'manager_id', 'ref_column': 'manager_id'}), ('manager_award', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('manager_award_vote', 'manager', {'column': 'manager_id', 'ref_column': 'manager_id'}), ('manager_half', 'manager', {'column': 'manager_id', 'ref_column': 'manager_id'}), ('manager_half', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('pitching', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('pitching', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('pitching_postseason', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('pitching_postseason', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('player_award', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('player_award_vote', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('player_college', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('player_college', 'college', {'column': 'college_id', 'ref_column': 'college_id'}), ('salary', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('salary', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('team_half', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('team_half', 'league', {'column': 'league_id', 'ref_column': 'league_id'})]
Number of tables (nodes): 27
Number of foreign key edges: 34
List of tables (nodes): ['all_star', 'player', 'team', 'appearances', 'batting', 'batting_postseason', 'college', 'fielding', 'fielding_outfield', 'fielding_postseason', 'hall_of_fame', 'home_game', 'park', 'league', 'manager', 'manager_award', 'manager_award_vote', 'manager_half', 'pitching', 'pitching_postseason', 'player_award', 'player_award_vote', 'player_college', 'postseason', 'salary', 'team_franchise', 'team_half']
List of foreign key edges: [('all_star', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('all_star', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('team', 'league', {'column': 'league_id', 'ref_column': 'league_id'}), ('appearances', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('appearances', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('batting', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('batting', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('batting_postseason', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('batting_postseason', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('fielding', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('fielding', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('fielding_outfield', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('fielding_postseason', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('fielding_postseason', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('hall_of_fame', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('home_game', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('home_game', 'park', {'column': 'park_id', 'ref_column': 'park_id'}), ('manager_award', 'manager', {'column': 'manager_id', 'ref_column': 'manager_id'}), ('manager_award', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('manager_award_vote', 'manager', {'column': 'manager_id', 'ref_column': 'manager_id'}), ('manager_half', 'manager', {'column': 'manager_id', 'ref_column': 'manager_id'}), ('manager_half', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('pitching', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('pitching', 'team', {'column': 'league_id', 'ref_column': 'league_id'}), ('pitching_postseason', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('pitching_postseason', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('player_award', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('player_award_vote', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('player_college', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('player_college', 'college', {'column': 'college_id', 'ref_column': 'college_id'}), ('salary', 'player', {'column': 'player_id', 'ref_column': 'player_id'}), ('salary', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('team_half', 'team', {'column': 'team_id', 'ref_column': 'team_id'}), ('team_half', 'league', {'column': 'league_id', 'ref_column': 'league_id'})]

In [ ]:
# ---------- Configuration ----------
from openai import OpenAI
from google.colab import userdata
OPENAI_API_KEY = userdata.get('OPENAI_KEY')
 #---------- Client Setup ----------
client = OpenAI(api_key=OPENAI_API_KEY)

In [ ]:
import openai

# If using OpenAI v1.x (latest as of 2024)
def get_openai_embeddings(texts, client, model="text-embedding-3-large", batch_size=20, show_progress=True):
    embeddings = []
    for i in range(0, len(texts), batch_size):
        batch = texts[i:i+batch_size]
        try:
            # This is the correct API call
            response = client.embeddings.create(
                input=batch,
                model=model
            )
            batch_embeddings = [d.embedding for d in response.data]
            embeddings.extend(batch_embeddings)
            if show_progress:
                print(f"✅ Embedded [{i+1}-{i+len(batch)}] of {len(texts)}")
        except Exception as e:
            print(f"❌ Batch {i+1}-{i+len(batch)} failed: {e}")
    import numpy as np
    return np.array(embeddings)

In [ ]:
embedding_texts = [t['embedding_text'] for t in table_info_list]
print("Number of embedding texts:", len(embedding_texts))
for i, text in enumerate(embedding_texts):
    print(f"{i+1}: {text[:80]}...")  # Preview first 80 chars of each

Number of embedding texts: 27
1: Table: all_star. Description: Details the records of baseball players selected a...
2: Table: appearances. Description: Player participation in various positions for e...
3: Table: batting. Description: Historical batting statistics for baseball players,...
4: Table: batting_postseason. Description: Postseason batting statistics for baseba...
5: Table: college. Description: Identifies colleges and links to players via player...
6: Table: fielding. Description: Fielding statistics for baseball players, covering...
7: Table: fielding_outfield. Description: Fielding appearances of outfield players,...
8: Table: fielding_postseason. Description: Postseason fielding statistics for base...
9: Table: hall_of_fame. Description: Records entries related to baseball players' n...
10: Table: home_game. Description: Information about home games played by baseball t...
11: Table: league. Description: Describes the professional baseball leagues, such as...
12: Table: manager. Description: Details about team managers including ID and name.....
13: Table: manager_award. Description: Records the various awards given to baseball ...
14: Table: manager_award_vote. Description: Voting results for baseball managerial a...
15: Table: manager_half. Description: Historical data on baseball managers' performa...
16: Table: park. Description: Baseball parks where games were hosted. Includes detai...
17: Table: pitching. Description: Pitching statistics for baseball players, includin...
18: Table: pitching_postseason. Description: Postseason pitching stats for baseball ...
19: Table: player. Description: Core player table with identifiers, names, birth det...
20: Table: player_award. Description: Information about awards received by baseball ...
21: Table: player_award_vote. Description: Records the voting results for baseball a...
22: Table: player_college. Description: Correlates baseball players with the college...
23: Table: postseason. Description: Details about MLB postseason rounds, years, and ...
24: Table: salary. Description: Annual salary data for players by team and year.. Sy...
25: Table: team. Description: Represents professional baseball teams including ident...
26: Table: team_franchise. Description: Describes franchise lineage and active statu...
27: Table: team_half. Description: Tracks team standings by half of the season (firs...

In [ ]:
# --- Usage Example ---
embeddings = get_openai_embeddings(
    embedding_texts,         # your list of texts
    client,                  # your OpenAI client object
    model="text-embedding-3-large",
    batch_size=20,
    show_progress=True
)
print(embeddings.shape)

✅ Embedded [1-20] of 27
✅ Embedded [21-27] of 27
(27, 3072)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving nl_gold_sql_queries.csv to nl_gold_sql_queries.csv

In [ ]:
import pandas as pd

# Replace with the exact filename as shown after upload
df = pd.read_csv('nl_gold_sql_queries.csv')

# See the first 5 rows
df.head()

,Index,NLQ,GOLD_SQL
0,1,what is the full name and id of the college wi...,"SELECT T1.name_full , T1.college_id FROM coll..."
1,2,Find the full name and id of the college that ...,"SELECT T1.name_full , T1.college_id FROM coll..."
2,3,What is average salary of the players in the t...,SELECT avg(T1.salary) FROM salary AS T1 JOIN t...
3,4,Compute the average salary of the players in t...,SELECT avg(T1.salary) FROM salary AS T1 JOIN t...
4,5,What are first and last names of players parti...,"SELECT name_first , name_last FROM player AS ..."

In [ ]:
# --- Semantic table retrieval ---
def retrieve_tables_from_nlq(nlq, embeddings, table_names, embed_fn, client, top_n=5):
    nlq_emb = embed_fn([nlq], client=client)[0]
    sims = np.dot(embeddings, nlq_emb) / (np.linalg.norm(embeddings, axis=1) * np.linalg.norm(nlq_emb))
    top_indices = np.argsort(sims)[-top_n:][::-1]
    result = [(table_names[i], sims[i]) for i in top_indices]
    return result

def expand_tables_graph(G, tables, hops=1):
    expanded = set(tables)
    UG = G.to_undirected()
    for table in tables:
        nodes = nx.single_source_shortest_path_length(UG, table, cutoff=hops).keys()
        expanded.update(nodes)
    return expanded

In [ ]:
import pandas as pd
import numpy as np

# Assume you have:
# - df: a DataFrame with columns ['NLQ', 'GOLD_SQL', ...]
# - meta_dict: dict with 'tables'
# - G: networkx DiGraph (knowledge graph)
# - retrieve_tables_from_nlq: function for top-N table retrieval by embeddings
# - expand_tables_graph: function for 1-hop table expansion

schema_tables = list(meta_dict['tables'].keys())

def get_gold_tables_from_sql(sql, schema_tables):
    return sorted([t for t in schema_tables if t in sql])

df['INITIAL_TABLES'] = ''
df['EXPANDED_TABLES'] = ''
df['GOLD_TABLES'] = ''

for idx, row in df.iterrows():
    nlq = row['NLQ']
    gold_sql = row['GOLD_SQL']

    # Retrieve top N tables by semantic similarity
    top_tables = retrieve_tables_from_nlq(
        nlq,
        embeddings,
        schema_tables,
        embed_fn=get_openai_embeddings,
        client=client,
        top_n=5
    )
    initial_tables = [t[0] for t in top_tables]
    expanded_tables = sorted(expand_tables_graph(G, initial_tables, hops=1))

    gold_tables = get_gold_tables_from_sql(gold_sql, schema_tables)

    df.at[idx, 'INITIAL_TABLES'] = ", ".join(initial_tables)
    df.at[idx, 'EXPANDED_TABLES'] = ", ".join(expanded_tables)
    df.at[idx, 'GOLD_TABLES'] = ", ".join(gold_tables)

# Display only the columns of interest
pd.set_option('display.width', 200)
pd.set_option('display.max_colwidth', None)
print(df[['GOLD_TABLES', 'INITIAL_TABLES', 'EXPANDED_TABLES']].to_string(index=False))

✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
                    GOLD_TABLES                                                                      INITIAL_TABLES                                                                                                                                                                                                                                                                                                           EXPANDED_TABLES
college, player, player_college                                      player_college, college, player, manager, team all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, home_game, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team, team_half
college, player, player_college                                      player_college, college, player, manager, team all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, home_game, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team, team_half
                   salary, team                                            salary, team, batting, player, home_game                                 all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, home_game, league, manager_award, manager_half, park, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team, team_half
                   salary, team                                            salary, team, batting, team_half, player                                       all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, home_game, league, manager_award, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team, team_half
               all_star, player                                   all_star, player, manager, home_game, appearances                       all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, home_game, manager, manager_award, manager_award_vote, manager_half, park, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
               all_star, player                                all_star, player, manager, appearances, player_award                                        all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
               all_star, player                                all_star, player, manager, appearances, player_award                                        all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
               all_star, player                                all_star, player, appearances, player_award, manager                                        all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                   hall_of_fame                     hall_of_fame, player_award, player_award_vote, player, all_star                                                                                                  all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                   hall_of_fame                hall_of_fame, player_award, player_award_vote, manager_award, player                                                                          all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                      home_game                            home_game, appearances, salary, all_star, team_franchise                                                                                                                                                                                                                                              all_star, appearances, home_game, park, player, salary, team, team_franchise
                      home_game                       home_game, salary, appearances, manager_award_vote, team_half                                                                                                                                                                                                                        appearances, home_game, league, manager, manager_award_vote, park, player, salary, team, team_half
                home_game, team                                 home_game, team, team_franchise, team_half, college                                                                                  all_star, appearances, batting, batting_postseason, college, fielding, fielding_postseason, home_game, league, manager_award, manager_half, park, pitching, pitching_postseason, player_college, salary, team, team_franchise, team_half
                home_game, team                                 team_half, team, home_game, manager, team_franchise                                                                              all_star, appearances, batting, batting_postseason, fielding, fielding_postseason, home_game, league, manager, manager_award, manager_award_vote, manager_half, park, pitching, pitching_postseason, salary, team, team_franchise, team_half
 manager, manager_award, player              manager_award, manager_award_vote, manager, player_award, manager_half                                                                                                                                                                                                                                      manager, manager_award, manager_award_vote, manager_half, player, player_award, team
 manager, manager_award, player              manager_award, manager, manager_award_vote, manager_half, player_award                                                                                                                                                                                                                                      manager, manager_award, manager_award_vote, manager_half, player, player_award, team
                           park                park, fielding_outfield, home_game, appearances, fielding_postseason                                                                                                                                                                                                                                        appearances, fielding_outfield, fielding_postseason, home_game, park, player, team
                           park                           park, appearances, pitching, fielding_outfield, home_game                                                                                                                                                                                                                                                   appearances, fielding_outfield, home_game, park, pitching, player, team
           player, player_award          player_award, player_award_vote, manager_award, player, manager_award_vote                                                      all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
           player, player_award          player_award, player_award_vote, manager_award, player, manager_award_vote                                                      all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                    player, fielding_outfield, appearances, player_college, all_star                                                                                         all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                    player, fielding_outfield, appearances, player_college, all_star                                                                                         all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                               player, all_star, player_award, hall_of_fame, manager                                        all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                               player, hall_of_fame, all_star, manager, manager_half                                        all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                player, batting, fielding_outfield, batting_postseason, manager_half                                                                           all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                       player, batting, batting_postseason, all_star, player_college                                                                                         all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
college, player, player_college                                    college, player_college, player, salary, manager                               all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
college, player, player_college                                    college, player_college, player, salary, manager                               all_star, appearances, batting, batting_postseason, college, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                   salary, team                                    salary, manager, team, team_half, team_franchise                                                                            all_star, appearances, batting, batting_postseason, fielding, fielding_postseason, home_game, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, salary, team, team_franchise, team_half
                   salary, team                                    salary, manager, team, team_half, team_franchise                                                                            all_star, appearances, batting, batting_postseason, fielding, fielding_postseason, home_game, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, salary, team, team_franchise, team_half
                   salary, team                                    salary, team, manager, team_franchise, team_half                                                                            all_star, appearances, batting, batting_postseason, fielding, fielding_postseason, home_game, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, salary, team, team_franchise, team_half
                   salary, team                                    salary, team, manager, team_franchise, team_half                                                                            all_star, appearances, batting, batting_postseason, fielding, fielding_postseason, home_game, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, salary, team, team_franchise, team_half
           player, player_award          player_award, player_award_vote, manager_award, manager_award_vote, player                                                      all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
           player, player_award          player_award, player_award_vote, manager_award, manager_award_vote, player                                                      all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, manager, manager_award, manager_award_vote, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team
                         player                                    player, team_half, manager, salary, manager_half                     all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team, team_half
                         player                                    player, manager, team_half, salary, manager_half                     all_star, appearances, batting, batting_postseason, fielding, fielding_outfield, fielding_postseason, hall_of_fame, league, manager, manager_award, manager_award_vote, manager_half, pitching, pitching_postseason, player, player_award, player_award_vote, player_college, salary, team, team_half
               postseason, team postseason, batting_postseason, pitching_postseason, fielding_postseason, home_game                                                                                                                                                                                                                   batting_postseason, fielding_postseason, home_game, park, pitching_postseason, player, postseason, team
               postseason, team batting_postseason, postseason, pitching_postseason, fielding_postseason, home_game                                                                                                                                                                                                                   batting_postseason, fielding_postseason, home_game, park, pitching_postseason, player, postseason, team
               postseason, team postseason, batting_postseason, fielding_postseason, pitching_postseason, home_game                                                                                                                                                                                                                   batting_postseason, fielding_postseason, home_game, park, pitching_postseason, player, postseason, team
               postseason, team postseason, batting_postseason, pitching_postseason, fielding_postseason, home_game                                                                                                                                                                                                                   batting_postseason, fielding_postseason, home_game, park, pitching_postseason, player, postseason, team
               postseason, team      postseason, team, batting_postseason, pitching_postseason, fielding_postseason                                                                                                             all_star, appearances, batting, batting_postseason, fielding, fielding_postseason, home_game, league, manager_award, manager_half, pitching, pitching_postseason, player, postseason, salary, team, team_half

In [ ]:
import re
import pandas as pd
import ast

def build_relationships_block(meta_dict):
    rels = []
    for tname, tinfo in meta_dict['tables'].items():
        for fk in tinfo.get('foreign_keys', []):
            rels.append(
                f"'{tname}' links to '{fk['ref_table']}' via {tname}.{fk['column']} = {fk['ref_table']}.{fk['ref_column']}"
            )
    return "\n".join(rels)

def build_few_shot_examples():
    return """
Example 1 (EXACT):
User Question: "How many parks are there in the state of NY?"
Tables: ['park']
Explanation: Only the 'park' table is needed because state information is stored there.

Example 2 (OVER-SELECTION):
User Question: "How many players born in USA are right-handed batters?"
Tables: ['player']
Explanation: Although both 'player' and 'batting' mention batting, the 'bats' attribute is in 'player'. Do NOT include 'batting' table.

Example 3 (OVER-SELECTION):
User Question: "Which cities have 2 to 4 parks?"
Tables: ['park']
Explanation: City and park info are both in 'park'. Do NOT select extra tables.

Example 4 (EXACT):
User Question: "Which team offers the lowest average salary?"
Tables: ['salary', 'team']
Explanation: Need 'salary' for pay info and 'team' for name/id. Only these two tables are required.

Example 5 (EXACT):
User Question: "List the names of states that have more than 2 parks."
Tables: ['park']
Explanation: The count and state data both come from the 'park' table.

Example 6 (UNDER-SELECTION):
User Question: "How many players did Boston Red Stockings have in 2000?"
Tables: ['salary', 'team']
Explanation: 'salary' has player and team IDs, but the team name 'Boston Red Stockings' is in 'team', so both are required.

"""


def build_llm_prompt(nlq, prompt_tables_block, relationships_block, schema_tables, few_shot_examples=""):
    return f"""
You are a data agent helping to translate user questions into the *smallest* set of required tables from a SQL database.

Instructions:
- From the tables and their relationships below, select ONLY the minimal set of tables needed to answer the question.
- DO NOT include extra tables unless they are required for joins.
- List only table names present in the schema.
- Output only a valid Python list of table names, nothing else.
- After the list, explain your choice (1-2 sentences max).

Schema Tables: {', '.join(schema_tables)}

{few_shot_examples}

Schema Tables and Metadata:
{prompt_tables_block}

Relationships (joins, foreign keys, etc.):
{relationships_block}

User Question: "{nlq}"

Your Answer:
Tables:
"""

def extract_tables_from_llm_output(text, schema_tables):
    # Try to extract a Python list first (for strict parsing)
    try:
        match = re.search(r"\[.*?\]", text, flags=re.DOTALL)
        if match:
            parsed = ast.literal_eval(match.group(0))
            # Keep only valid schema tables (case-insensitive)
            schema_set = set([t.lower() for t in schema_tables])
            table_map = {t.lower(): t for t in schema_tables}
            result = [table_map[t.lower()] for t in parsed if t.lower() in schema_set]
            return ", ".join(result)
    except Exception:
        pass

    # Fallback: regex/line-based
    schema_set = set([t.lower() for t in schema_tables])
    found_tables = set()
    m = re.search(r'Tables?:\s*\[?([^\]\n]+)\]?', text, flags=re.IGNORECASE)
    if m:
        raw = m.group(1)
        for token in re.split(r"[,\n]", raw):
            t = token.strip().strip("'\"").lower()
            if t in schema_set:
                found_tables.add(t)
    if not found_tables:
        words = re.findall(r"\b\w+\b", text)
        for w in words:
            if w.lower() in schema_set:
                found_tables.add(w.lower())
    table_map = {t.lower(): t for t in schema_tables}
    return ", ".join([table_map[t] for t in sorted(found_tables)]) if found_tables else ""

def build_table_block(table, meta):
    block = f"Table: {table}\n"
    block += f"Description: {meta.get('description', '')}\n"
    block += f"Synonyms: {', '.join(meta.get('synonyms', []))}\n"
    block += f"Aliases: {', '.join(meta.get('aliases', []))}\n"
    block += f"Tags: {', '.join(meta.get('tags', []))}\n"
    if 'instructions' in meta:
        block += f"Instructions: {meta['instructions']}\n"
    if 'foreign_keys' in meta and meta['foreign_keys']:
        fks = []
        for fk in meta['foreign_keys']:
            fks.append(f"{fk['column']} → {fk['ref_table']}.{fk['ref_column']}")
        block += f"Foreign Keys: {', '.join(fks)}\n"
    return block

def call_llm_table_selection(prompt, client=None, model="gpt-4o", max_tokens=512):
    """Send the prompt to an LLM and return the response text."""
    if client is None:
        import openai
        client = openai.OpenAI()  # Or openai.Client() depending on your SDK version
    response = client.chat.completions.create(
        model=model,
        messages=[
            {"role": "system", "content": "You are an expert in SQL, databases, and schema design. Given a set of tables and a user question, select the minimal relevant tables required to answer the question, and explain your rationale. Output tables as a list."},
            {"role": "user", "content": prompt}
        ],
        max_tokens=max_tokens,
        temperature=0.0
    )
    return response.choices[0].message.content.strip()

# === MAIN PIPELINE ===

df['LLM_TABLES'] = ''
df['LLM_REASON'] = ''

schema_tables = list(meta_dict['tables'].keys())
relationships_block = build_relationships_block(meta_dict)
few_shot_examples = build_few_shot_examples()

In [ ]:
# === Anti-pattern & schema selection rules ===
schema_selection_instructions = """
Schema Selection Instructions:
- Do not include generic tables like `player`, `manager`, `appearances`, or `batting` unless their columns are explicitly required.
- Use `salary` to join player-team-year if the query asks about team rosters, counts, or salaries.
- Use `player` only if demographic details are requested (e.g., name, height, country).
- Avoid including `manager` unless querying manager metadata (e.g., birth info).
- Avoid including `batting` unless querying season stats (hits, at-bats, home runs).
- Use `home_game` over `appearances` for attendance or game participation queries.
- Use `team` and `team_franchise` only if franchise-related or name-based logic is involved.
"""

# === Main loop for table selection ===
for idx, row in df.iterrows():
    nlq = row['NLQ']

    # Step 1: Retrieve top semantically relevant tables and expand with graph
    top_tables = retrieve_tables_from_nlq(
        nlq,
        embeddings,
        schema_tables,
        embed_fn=get_openai_embeddings,
        client=client,
        top_n=5
    )
    initial_tables = [t[0] for t in top_tables]
    expanded_tables = sorted(expand_tables_graph(G, initial_tables, hops=1))
    all_tables = sorted(set(initial_tables + expanded_tables))

    # Step 2: Build metadata block for these tables (with schema instructions)
    prompt_tables_block = schema_selection_instructions.strip() + "\n\n"
    for t in all_tables:
        if t in meta_dict['tables']:
            prompt_tables_block += build_table_block(t, meta_dict['tables'][t]) + "\n"

    # Step 3: Build prompt
    prompt = build_llm_prompt(
        nlq,
        prompt_tables_block,
        relationships_block,
        schema_tables,
        few_shot_examples
    )

    # Step 4: Call LLM for table selection
    llm_output = call_llm_table_selection(prompt, client=client, model="gpt-4o")

    # Step 5: Robustly extract tables
    tables_out = extract_tables_from_llm_output(llm_output, schema_tables)

    # Step 6: Extract explanation
    explanation_index = llm_output.lower().find('explanation')
    reason_out = llm_output[explanation_index:].strip() if explanation_index >= 0 else llm_output

    # Step 7: Store results
    df.at[idx, 'LLM_TABLES'] = tables_out
    df.at[idx, 'LLM_REASON'] = reason_out

# Display result
pd.set_option('display.width', 200)
pd.set_option('display.max_colwidth', None)
print(df[['NLQ', 'GOLD_SQL', 'LLM_TABLES', 'LLM_REASON']].to_string(index=False))

✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
✅ Embedded [1-1] of 1
                                                                                                                                                                                  NLQ                                                                                                                                                                                                                                                                                                                                                                                                                                 GOLD_SQL                      LLM_TABLES                                                                                                                                                                                                                                                            LLM_REASON
                                                                                             what is the full name and id of the college with the largest number of baseball players?                                                                                                                                                                                                                                                              SELECT T1.name_full ,  T1.college_id FROM college AS T1 JOIN player_college AS T2 ON T1.college_id  =  T2.college_id GROUP BY T1.college_id ORDER BY count(*) DESC LIMIT 1;         college, player_college                                                                                             Explanation: The 'college' table provides the full name and ID of colleges, while 'player_college' is needed to count the number of players associated with each college.
                                                                                                         Find the full name and id of the college that has the most baseball players.                                                                                                                                                                                                                                                              SELECT T1.name_full ,  T1.college_id FROM college AS T1 JOIN player_college AS T2 ON T1.college_id  =  T2.college_id GROUP BY T1.college_id ORDER BY count(*) DESC LIMIT 1;         college, player_college                                                                           Explanation: The 'college' table contains the full name and ID of colleges, while 'player_college' links players to their colleges, allowing us to count the number of players per college.
                                                                                                     What is average salary of the players in the team named 'Boston Red Stockings' ?                                                                                                                                                                                                                                                                                                          SELECT avg(T1.salary) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings'                    salary, team                                                                                                             Explanation: The 'salary' table provides player salary information, and the 'team' table is needed to identify the team by name ('Boston Red Stockings').
                                                                                                 Compute the average salary of the players in the team called 'Boston Red Stockings'.                                                                                                                                                                                                                                                                                                          SELECT avg(T1.salary) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings'                    salary, team                                                                                                             Explanation: The 'salary' table provides player salary information, and the 'team' table is needed to identify the team by name ('Boston Red Stockings').
                                                                                                     What are first and last names of players participating in all star game in 1998?                                                                                                                                                                                                                                                                                                                SELECT name_first ,  name_last FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id WHERE YEAR  =  1998                all_star, player                                                                                                                                                                                                                                                ['all_star', 'player']
                                                                                                  List the first and last name for players who participated in all star game in 1998.                                                                                                                                                                                                                                                                                                                SELECT name_first ,  name_last FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id WHERE YEAR  =  1998                all_star, player                                                                             Explanation: The 'all_star' table contains records of players who participated in All-Star games, and the 'player' table is needed to retrieve the first and last names of these players.
                                                                What are the first name, last name and id of the player with the most all star game experiences? Also list the count.                                                                                                                                                                                                                                            SELECT T1.name_first , T1.name_last ,  T1.player_id ,   count(*) FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 1;                all_star, player                                                                                                                                                                                                                                                ['all_star', 'player']
Which player has the most all star game experiences? Give me the first name, last name and id of the player, as well as the number of times the player participated in all star game.                                                                                                                                                                                                                                            SELECT T1.name_first , T1.name_last ,  T1.player_id ,   count(*) FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 1;                all_star, player                                                                                                                                                                                                                                                ['all_star', 'player']
                                                                                                                                       How many players enter hall of fame each year?                                                                                                                                                                                                                                                                                                                                                                             SELECT yearid ,  count(*) FROM hall_of_fame GROUP BY yearid;                    hall_of_fame                                                                                                                                                                                                                                                      ['hall_of_fame']
                                                                                                                    Count the number of players who enter hall of fame for each year.                                                                                                                                                                                                                                                                                                                                                                             SELECT yearid ,  count(*) FROM hall_of_fame GROUP BY yearid;                    hall_of_fame                                          Explanation: The 'hall_of_fame' table contains records of players' nominations and inductions into the Hall of Fame, including the year of induction, which is sufficient to count the number of players inducted each year.
                                                                                                                What is the average number of attendance at home games for each year?                                                                                                                                                                                                                                                                                                                                                                             SELECT YEAR ,  avg(attendance) FROM home_game GROUP BY YEAR;                       home_game                                                                                                                                                                                                                                                         ['home_game']
                                                                                                   For each year, return the year and the average number of attendance at home games.                                                                                                                                                                                                                                                                                                                                                                             SELECT YEAR ,  avg(attendance) FROM home_game GROUP BY YEAR;                       home_game                                                                                                                                                                                                                                                         ['home_game']
                                                                                     In 2014, what are the id and rank of the team that has the largest average number of attendance?                                                                                                                                                                                                                                                      SELECT T2.team_id ,  T2.rank FROM home_game AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id WHERE T1.year  =  2014 GROUP BY T1.team_id ORDER BY avg(T1.attendance) DESC LIMIT 1;                 home_game, team                                                                                                                                      Explanation: The 'home_game' table contains attendance data, and the 'team' table is needed to identify the team by ID and rank.
                                                                                               Find the id and rank of the team that has the highest average attendance rate in 2014.                                                                                                                                                                                                                                                      SELECT T2.team_id ,  T2.rank FROM home_game AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id WHERE T1.year  =  2014 GROUP BY T1.team_id ORDER BY avg(T1.attendance) DESC LIMIT 1;                 home_game, team                                                                      Explanation: The 'home_game' table contains attendance data, which is needed to calculate the average attendance rate, and the 'team' table is required to identify the team by its ID and rank.
                                                                                                  What are the manager's first name, last name and id who won the most manager award?                                                                                                                                                                                                                                                   SELECT T1.name_first ,  T1.name_last ,  T2.player_id FROM player AS T1 JOIN manager_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T2.player_id ORDER BY count(*) DESC LIMIT 1;          manager_award, manager              Explanation: The 'manager_award' table contains records of awards given to managers, and the 'manager' table provides the first name, last name, and ID of the managers. These two tables are sufficient to determine which manager won the most awards.
                                                                                        Which manager won the most manager award? Give me the manager's first name, last name and id.                                                                                                                                                                                                                                                   SELECT T1.name_first ,  T1.name_last ,  T2.player_id FROM player AS T1 JOIN manager_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T2.player_id ORDER BY count(*) DESC LIMIT 1;          manager_award, manager                                               Explanation: The 'manager_award' table contains records of awards given to managers, which is necessary to count the awards won. The 'manager' table is needed to retrieve the manager's first name, last name, and id.
                                                                                                                                         How many parks are there in the state of NY?                                                                                                                                                                                                                                                                                                                                                                                          SELECT count(*) FROM park WHERE state  =  'NY';                            park                                                                                                                                                                                                                                                              ['park']
                                                                                                                                     Show me the number of parks the state of NY has.                                                                                                                                                                                                                                                                                                                                                                                          SELECT count(*) FROM park WHERE state  =  'NY';                            park                                                                                                                                                                                                                                                              ['park']
                                                                                                             Which 3 players won the most player awards? List their full name and id.                                                                                                                                                                                                                                                    SELECT T1.name_first ,  T1.name_last ,  T1.player_id FROM player AS T1 JOIN player_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 3;            player_award, player                                                                                                                                                                                                                                            ['player_award', 'player']

In [ ]:
import pandas as pd
import re

# Example: Load your dataframe
# df = pd.read_csv("your_file.csv")

def extract_tables_from_sql(sql):
    """
    Very basic regex to extract table names from a SQL query.
    Will work for most Spider-style queries but may need improvement for edge cases.
    """
    # Match FROM <table> or JOIN <table> and get the table name (ignores alias)
    pattern = r'(?:FROM|JOIN)\s+([a-zA-Z0-9_]+)'
    tables = re.findall(pattern, sql, re.IGNORECASE)
    return sorted(set([t.strip().lower() for t in tables]))

def normalize_tables(tables_str):
    """
    Given a string like 'salary, team, player', returns a sorted list of table names.
    """
    return sorted([t.strip().lower() for t in tables_str.split(',') if t.strip()])

def evaluate_table_selection(df, gold_sql_col="GOLD_SQL", llm_tables_col="LLM_TABLES"):
    exact = 0
    over = 0
    under = 0
    total = len(df)
    print("\nEvaluation Results:\n" + "-"*70)
    for idx, row in df.iterrows():
        gold_tables = set(extract_tables_from_sql(row[gold_sql_col]))
        llm_tables = set(normalize_tables(row[llm_tables_col]))

        is_exact = gold_tables == llm_tables
        is_over = llm_tables > gold_tables
        is_under = not gold_tables.issubset(llm_tables)
        if is_exact:
            exact += 1
        elif is_over and not is_under:
            over += 1
        elif is_under:
            under += 1

        print(f"\nNLQ: {row['NLQ']}")
        print(f"Gold SQL: {row[gold_sql_col]}")
        print(f"Gold tables: {sorted(gold_tables)}")
        print(f"LLM tables : {sorted(llm_tables)}")
        print(f"Result: {'EXACT' if is_exact else 'OVER' if is_over else 'UNDER'}")

    print("\nSummary:")
    print(f"Total:         {total}")
    print(f"Exact match:   {exact} ({exact/total:.1%})")
    print(f"Over selection:{over} ({over/total:.1%})")
    print(f"Under selection:{under} ({under/total:.1%})")

# Example usage:
evaluate_table_selection(df)

Evaluation Results:
----------------------------------------------------------------------

NLQ: what is the full name and id of the college with the largest number of baseball players?
Gold SQL: SELECT T1.name_full ,  T1.college_id FROM college AS T1 JOIN player_college AS T2 ON T1.college_id  =  T2.college_id GROUP BY T1.college_id ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['college', 'player_college']
LLM tables : ['college', 'player_college']
Result: EXACT

NLQ: Find the full name and id of the college that has the most baseball players.
Gold SQL: SELECT T1.name_full ,  T1.college_id FROM college AS T1 JOIN player_college AS T2 ON T1.college_id  =  T2.college_id GROUP BY T1.college_id ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['college', 'player_college']
LLM tables : ['college', 'player_college']
Result: EXACT

NLQ: What is average salary of the players in the team named 'Boston Red Stockings' ?
Gold SQL: SELECT avg(T1.salary) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings'
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: Compute the average salary of the players in the team called 'Boston Red Stockings'.
Gold SQL: SELECT avg(T1.salary) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings'
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: What are first and last names of players participating in all star game in 1998?
Gold SQL: SELECT name_first ,  name_last FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id WHERE YEAR  =  1998
Gold tables: ['all_star', 'player']
LLM tables : ['all_star', 'player']
Result: EXACT

NLQ: List the first and last name for players who participated in all star game in 1998.
Gold SQL: SELECT name_first ,  name_last FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id WHERE YEAR  =  1998
Gold tables: ['all_star', 'player']
LLM tables : ['all_star', 'player']
Result: EXACT

NLQ: What are the first name, last name and id of the player with the most all star game experiences? Also list the count.
Gold SQL: SELECT T1.name_first , T1.name_last ,  T1.player_id ,   count(*) FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['all_star', 'player']
LLM tables : ['all_star', 'player']
Result: EXACT

NLQ: Which player has the most all star game experiences? Give me the first name, last name and id of the player, as well as the number of times the player participated in all star game.
Gold SQL: SELECT T1.name_first , T1.name_last ,  T1.player_id ,   count(*) FROM player AS T1 JOIN all_star AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['all_star', 'player']
LLM tables : ['all_star', 'player']
Result: EXACT

NLQ: How many players enter hall of fame each year?
Gold SQL: SELECT yearid ,  count(*) FROM hall_of_fame GROUP BY yearid;
Gold tables: ['hall_of_fame']
LLM tables : ['hall_of_fame']
Result: EXACT

NLQ: Count the number of players who enter hall of fame for each year.
Gold SQL: SELECT yearid ,  count(*) FROM hall_of_fame GROUP BY yearid;
Gold tables: ['hall_of_fame']
LLM tables : ['hall_of_fame']
Result: EXACT

NLQ: What is the average number of attendance at home games for each year?
Gold SQL: SELECT YEAR ,  avg(attendance) FROM home_game GROUP BY YEAR;
Gold tables: ['home_game']
LLM tables : ['home_game']
Result: EXACT

NLQ: For each year, return the year and the average number of attendance at home games.
Gold SQL: SELECT YEAR ,  avg(attendance) FROM home_game GROUP BY YEAR;
Gold tables: ['home_game']
LLM tables : ['home_game']
Result: EXACT

NLQ: In 2014, what are the id and rank of the team that has the largest average number of attendance?
Gold SQL: SELECT T2.team_id ,  T2.rank FROM home_game AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id WHERE T1.year  =  2014 GROUP BY T1.team_id ORDER BY avg(T1.attendance) DESC LIMIT 1;
Gold tables: ['home_game', 'team']
LLM tables : ['home_game', 'team']
Result: EXACT

NLQ: Find the id and rank of the team that has the highest average attendance rate in 2014.
Gold SQL: SELECT T2.team_id ,  T2.rank FROM home_game AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id WHERE T1.year  =  2014 GROUP BY T1.team_id ORDER BY avg(T1.attendance) DESC LIMIT 1;
Gold tables: ['home_game', 'team']
LLM tables : ['home_game', 'team']
Result: EXACT

NLQ: What are the manager's first name, last name and id who won the most manager award?
Gold SQL: SELECT T1.name_first ,  T1.name_last ,  T2.player_id FROM player AS T1 JOIN manager_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T2.player_id ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['manager_award', 'player']
LLM tables : ['manager', 'manager_award']
Result: UNDER

NLQ: Which manager won the most manager award? Give me the manager's first name, last name and id.
Gold SQL: SELECT T1.name_first ,  T1.name_last ,  T2.player_id FROM player AS T1 JOIN manager_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T2.player_id ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['manager_award', 'player']
LLM tables : ['manager', 'manager_award']
Result: UNDER

NLQ: How many parks are there in the state of NY?
Gold SQL: SELECT count(*) FROM park WHERE state  =  'NY';
Gold tables: ['park']
LLM tables : ['park']
Result: EXACT

NLQ: Show me the number of parks the state of NY has.
Gold SQL: SELECT count(*) FROM park WHERE state  =  'NY';
Gold tables: ['park']
LLM tables : ['park']
Result: EXACT

NLQ: Which 3 players won the most player awards? List their full name and id.
Gold SQL: SELECT T1.name_first ,  T1.name_last ,  T1.player_id FROM player AS T1 JOIN player_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 3;
Gold tables: ['player', 'player_award']
LLM tables : ['player', 'player_award']
Result: EXACT

NLQ: Find the first name, last name and id for the top three players won the most player awards.
Gold SQL: SELECT T1.name_first ,  T1.name_last ,  T1.player_id FROM player AS T1 JOIN player_award AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.player_id ORDER BY count(*) DESC LIMIT 3;
Gold tables: ['player', 'player_award']
LLM tables : ['player', 'player_award']
Result: EXACT

NLQ: List three countries which are the origins of the least players.
Gold SQL: SELECT birth_country FROM player GROUP BY birth_country ORDER BY count(*) ASC LIMIT 3;
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: What are the three countries that the least players are from?
Gold SQL: SELECT birth_country FROM player GROUP BY birth_country ORDER BY count(*) ASC LIMIT 3;
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: Find all the players' first name and last name who have empty death record.
Gold SQL: SELECT name_first ,  name_last FROM player WHERE death_year = '';
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: What are the first name and last name of the players whose death record is empty?
Gold SQL: SELECT name_first ,  name_last FROM player WHERE death_year = '';
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: How many players born in USA are right-handed batters? That is, have the batter value 'R'.
Gold SQL: SELECT count(*) FROM player WHERE birth_country = 'USA' AND bats  =  'R';
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: Count the number of players who were born in USA and have bats information 'R'.
Gold SQL: SELECT count(*) FROM player WHERE birth_country = 'USA' AND bats  =  'R';
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: What is the average height of the players from the college named 'Yale University'?
Gold SQL: SELECT avg(T1.height) FROM player AS T1 JOIN player_college AS T2 ON T1.player_id  =  T2.player_id JOIN college AS T3 ON T3.college_id  =  T2.college_id WHERE T3.name_full  =  'Yale University';
Gold tables: ['college', 'player', 'player_college']
LLM tables : ['college', 'player', 'player_college']
Result: EXACT

NLQ: Find the average height of the players who belong to the college called 'Yale University'.
Gold SQL: SELECT avg(T1.height) FROM player AS T1 JOIN player_college AS T2 ON T1.player_id  =  T2.player_id JOIN college AS T3 ON T3.college_id  =  T2.college_id WHERE T3.name_full  =  'Yale University';
Gold tables: ['college', 'player', 'player_college']
LLM tables : ['college', 'player', 'player_college']
Result: EXACT

NLQ: What is the highest salary among each team? List the team name, id and maximum salary.
Gold SQL: SELECT T1.name ,  T1.team_id ,  max(T2.salary) FROM team AS T1 JOIN salary AS T2 ON T1.team_id  =  T2.team_id GROUP BY T1.team_id;
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: For each team, return the team name, id and the maximum salary among the team.
Gold SQL: SELECT T1.name ,  T1.team_id ,  max(T2.salary) FROM team AS T1 JOIN salary AS T2 ON T1.team_id  =  T2.team_id GROUP BY T1.team_id;
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: What are the name and id of the team offering the lowest average salary?
Gold SQL: SELECT T1.name ,  T1.team_id FROM team AS T1 JOIN salary AS T2 ON T1.team_id = T2.team_id GROUP BY T1.team_id ORDER BY avg(T2.salary) ASC LIMIT 1;
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: Which team offers the lowest average salary? Give me the name and id of the team.
Gold SQL: SELECT T1.name ,  T1.team_id FROM team AS T1 JOIN salary AS T2 ON T1.team_id = T2.team_id GROUP BY T1.team_id ORDER BY avg(T2.salary) ASC LIMIT 1;
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: Find the players' first name and last name who won award both in 1960 and in 1961.
Gold SQL: SELECT T1.name_first , T1.name_last FROM player AS T1 JOIN player_award AS T2 WHERE T2.year  =  1960 INTERSECT SELECT T1.name_first , T1.name_last FROM player AS T1 JOIN player_award AS T2 WHERE T2.year  =  1961
Gold tables: ['player', 'player_award']
LLM tables : ['player', 'player_award']
Result: EXACT

NLQ: Which players won awards in both 1960 and 1961? Return their first names and last names.
Gold SQL: SELECT T1.name_first , T1.name_last FROM player AS T1 JOIN player_award AS T2 WHERE T2.year  =  1960 INTERSECT SELECT T1.name_first , T1.name_last FROM player AS T1 JOIN player_award AS T2 WHERE T2.year  =  1961
Gold tables: ['player', 'player_award']
LLM tables : ['player', 'player_award']
Result: EXACT

NLQ: List players' first name and last name who have weight greater than 220 or height shorter than 75.
Gold SQL: SELECT name_first ,  name_last FROM player WHERE weight  >  220 OR height  <  75
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: What are the first name and last name of the players who have weight above 220 or height below 75?
Gold SQL: SELECT name_first ,  name_last FROM player WHERE weight  >  220 OR height  <  75
Gold tables: ['player']
LLM tables : ['player']
Result: EXACT

NLQ: List the maximum scores of the team Boston Red Stockings when the team won in postseason?
Gold SQL: SELECT max(T1.wins) FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings';
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: What are the maximum scores the team Boston Red Stockings got when the team won in postseason?
Gold SQL: SELECT max(T1.wins) FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings';
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: How many times did Boston Red Stockings lose in 2009 postseason?
Gold SQL: SELECT count(*) FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_loser  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' AND T1.year = 2009;
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: Count the number of times the team "Boston Red Stockings" lost in 2009 postseason.
Gold SQL: SELECT count(*) FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_loser  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' AND T1.year = 2009;
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: What are the name and id of the team with the most victories in 2008 postseason?
Gold SQL: SELECT T2.name ,  T1.team_id_winner FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T1.year  =  2008 GROUP BY T1.team_id_winner ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: Find the name and id of the team that won the most times in 2008 postseason.
Gold SQL: SELECT T2.name ,  T1.team_id_winner FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T1.year  =  2008 GROUP BY T1.team_id_winner ORDER BY count(*) DESC LIMIT 1;
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: What is the number of wins the team Boston Red Stockings got in the postseasons each year in history?
Gold SQL: SELECT count(*) ,  T1.year FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' GROUP BY T1.year
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: For each year, return the year and the number of times the team Boston Red Stockings won in the postseasons.
Gold SQL: SELECT count(*) ,  T1.year FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' GROUP BY T1.year
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: What is the total number of postseason games that team Boston Red Stockings participated in?
Gold SQL: SELECT count(*) FROM ( SELECT * FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' UNION SELECT * FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_loser  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' );
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: How many times in total did the team Boston Red Stockings participate in postseason games?
Gold SQL: SELECT count(*) FROM ( SELECT * FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_winner  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' UNION SELECT * FROM postseason AS T1 JOIN team AS T2 ON T1.team_id_loser  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' );
Gold tables: ['postseason', 'team']
LLM tables : ['postseason', 'team']
Result: EXACT

NLQ: How many games in 1885 postseason resulted in ties (that is, the value of "ties" is '1')?
Gold SQL: SELECT count(*) FROM postseason WHERE YEAR  =  1885 AND ties  =  1;
Gold tables: ['postseason']
LLM tables : ['postseason']
Result: EXACT

NLQ: Find the number of tied games (the value of "ties" is '1') in 1885 postseason.
Gold SQL: SELECT count(*) FROM postseason WHERE YEAR  =  1885 AND ties  =  1;
Gold tables: ['postseason']
LLM tables : ['postseason']
Result: EXACT

NLQ: What is the total salary paid by team Boston Red Stockings in 2010?
Gold SQL: SELECT sum(T1.salary) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings' AND T1.year  =  2010
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: What is the total salary expenses of team Boston Red Stockings in 2010?
Gold SQL: SELECT sum(T1.salary) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings' AND T1.year  =  2010
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: How many players were in the team Boston Red Stockings in 2000?
Gold SQL: SELECT count(*) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings' AND T1.year  =  2000
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: How many players did Boston Red Stockings have in 2000?
Gold SQL: SELECT count(*) FROM salary AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  = 'Boston Red Stockings' AND T1.year  =  2000
Gold tables: ['salary', 'team']
LLM tables : ['salary', 'team']
Result: EXACT

NLQ: List the 3 highest salaries of the players in 2001?
Gold SQL: SELECT salary FROM salary WHERE YEAR  =  2001 ORDER BY salary DESC LIMIT 3;
Gold tables: ['salary']
LLM tables : ['salary']
Result: EXACT

NLQ: How much salary did the top 3 well-paid players get in 2001?
Gold SQL: SELECT salary FROM salary WHERE YEAR  =  2001 ORDER BY salary DESC LIMIT 3;
Gold tables: ['salary']
LLM tables : ['player', 'salary']
Result: OVER

NLQ: What were all the salary values of players in 2010 and 2001?
Gold SQL: SELECT salary FROM salary WHERE YEAR  =  2010 UNION SELECT salary FROM salary WHERE YEAR  =  2001
Gold tables: ['salary']
LLM tables : ['salary']
Result: EXACT

NLQ: List all the salary values players received in 2010 and 2001.
Gold SQL: SELECT salary FROM salary WHERE YEAR  =  2010 UNION SELECT salary FROM salary WHERE YEAR  =  2001
Gold tables: ['salary']
LLM tables : ['salary']
Result: EXACT

NLQ: In which year did the least people enter hall of fame?
Gold SQL: SELECT yearid FROM hall_of_fame GROUP BY yearid ORDER BY count(*) ASC LIMIT 1;
Gold tables: ['hall_of_fame']
LLM tables : ['hall_of_fame']
Result: EXACT

NLQ: Find the year in which the least people enter hall of fame.
Gold SQL: SELECT yearid FROM hall_of_fame GROUP BY yearid ORDER BY count(*) ASC LIMIT 1;
Gold tables: ['hall_of_fame']
LLM tables : ['hall_of_fame']
Result: EXACT

NLQ: How many parks are there in Atlanta city?
Gold SQL: SELECT count(*) FROM park WHERE city = 'Atlanta';
Gold tables: ['park']
LLM tables : ['park']
Result: EXACT

NLQ: How many parks does Atlanta city have?
Gold SQL: SELECT count(*) FROM park WHERE city = 'Atlanta';
Gold tables: ['park']
LLM tables : ['park']
Result: EXACT

NLQ: How many games were played in park "Columbia Park" in 1907?
Gold SQL: SELECT count(*) FROM home_game AS T1 JOIN park AS T2 ON T1.park_id  =  T2.park_id WHERE T1.year = 1907 AND T2.park_name = 'Columbia Park';
Gold tables: ['home_game', 'park']
LLM tables : ['home_game', 'park']
Result: EXACT

NLQ: Count the number of games taken place in park "Columbia Park" in 1907.
Gold SQL: SELECT count(*) FROM home_game AS T1 JOIN park AS T2 ON T1.park_id  =  T2.park_id WHERE T1.year = 1907 AND T2.park_name = 'Columbia Park';
Gold tables: ['home_game', 'park']
LLM tables : ['home_game', 'park']
Result: EXACT

NLQ: How many games were played in city Atlanta in 2000?
Gold SQL: SELECT count(*) FROM home_game AS T1 JOIN park AS T2 ON T1.park_id  =  T2.park_id WHERE T1.year  =  2000 AND T2.city  =  'Atlanta';
Gold tables: ['home_game', 'park']
LLM tables : ['home_game', 'park']
Result: EXACT

NLQ: Find the number of games taken place in city Atlanta in 2000.
Gold SQL: SELECT count(*) FROM home_game AS T1 JOIN park AS T2 ON T1.park_id  =  T2.park_id WHERE T1.year  =  2000 AND T2.city  =  'Atlanta';
Gold tables: ['home_game', 'park']
LLM tables : ['home_game', 'park']
Result: EXACT

NLQ: What is the total home game attendance of team Boston Red Stockings from 2000 to 2010?
Gold SQL: SELECT sum(T1.attendance) FROM home_game AS T1 JOIN team AS T2 ON T1.team_id  =  T2.team_id_br WHERE T2.name  =  'Boston Red Stockings' AND T1.year BETWEEN 2000 AND 2010;
Gold tables: ['home_game', 'team']
LLM tables : ['home_game', 'team']
Result: EXACT

NLQ: How many games in total did team Boston Red Stockings attend from 2000 to 2010?